[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
keras = "*"
pillow = "==9.1.0"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
